.content-item {
    margin-bottom: 10px;

    .ant-form-item {
        margin-bottom: 0;
    }
}

.ant-table-row-cell-break-word {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}
